<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SaraivaWebApp</display-name>
  <welcome-file-list>
    <welcome-file>InicializadorController</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BuscaController</display-name>
    <servlet-name>BuscaController</servlet-name>
    <servlet-class>controle.BuscaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaController</servlet-name>
    <url-pattern>/BuscaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistasController</display-name>
    <servlet-name>ArtistasController</servlet-name>
    <servlet-class>controle.ArtistasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistasController</servlet-name>
    <url-pattern>/ArtistasController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistaDao</display-name>
    <servlet-name>ArtistaDao</servlet-name>
    <servlet-class>dao.ArtistaDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistaDao</servlet-name>
    <url-pattern>/ArtistaDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarController</display-name>
    <servlet-name>CadastrarController</servlet-name>
    <servlet-class>controle.CadastrarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarController</servlet-name>
    <url-pattern>/CadastrarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroController</display-name>
    <servlet-name>CadastroController</servlet-name>
    <servlet-class>controle.CadastroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroController</servlet-name>
    <url-pattern>/CadastroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controle.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerosController</display-name>
    <servlet-name>GenerosController</servlet-name>
    <servlet-class>controle.GenerosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerosController</servlet-name>
    <url-pattern>/GenerosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LancamentosController</display-name>
    <servlet-name>LancamentosController</servlet-name>
    <servlet-class>controle.LancamentosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LancamentosController</servlet-name>
    <url-pattern>/LancamentosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Busca2Controller</display-name>
    <servlet-name>Busca2Controller</servlet-name>
    <servlet-class>controle.Busca2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Busca2Controller</servlet-name>
    <url-pattern>/Busca2Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaMusicasArtistaController</display-name>
    <servlet-name>BuscaMusicasArtistaController</servlet-name>
    <servlet-class>controle.BuscaMusicasArtistaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaMusicasArtistaController</servlet-name>
    <url-pattern>/BuscaMusicasArtistaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicializadorController</display-name>
    <servlet-name>InicializadorController</servlet-name>
    <servlet-class>controle.InicializadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicializadorController</servlet-name>
    <url-pattern>/InicializadorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaMusicaController</display-name>
    <servlet-name>BuscaMusicaController</servlet-name>
    <servlet-class>controle.BuscaMusicaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaMusicaController</servlet-name>
    <url-pattern>/BuscaMusicaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarrinhoController</display-name>
    <servlet-name>CarrinhoController</servlet-name>
    <servlet-class>controle.CarrinhoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarrinhoController</servlet-name>
    <url-pattern>/CarrinhoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sair</display-name>
    <servlet-name>Sair</servlet-name>
    <servlet-class>controle.Sair</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sair</servlet-name>
    <url-pattern>/Sair</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfilClienteController</display-name>
    <servlet-name>PerfilClienteController</servlet-name>
    <servlet-class>controle.PerfilClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilClienteController</servlet-name>
    <url-pattern>/PerfilClienteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutController</display-name>
    <servlet-name>CheckOutController</servlet-name>
    <servlet-class>controle.CheckOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutController</servlet-name>
    <url-pattern>/CheckOutController</url-pattern>
  </servlet-mapping>
</web-app>